# Queries

The **Introduction to SQL** course is a goes over the basics, and covers querying a database, sorting results, and using joins and unions. It covers how to use aggregate data, and filter. We also look at how to create a table, and drop it.

First, review the [slides for the **Introduction to SQL course**](https://docs.google.com/presentation/d/1-FhnRYrehe3VSlITi6geGqh-DrtSP6nPN4tiPgpbGqQ/present). After you are comfortable with the material, go through the [exercises](Exercises.md). We have provided a database with data that you can interact with for the exercises.

> The slides and course material are copyrighted, and licensed under the [GNU General Public License](LICENSE).

-----

In [ ]:
%pip install -qq jupysql sqlalchemy

In [ ]:
from sqlalchemy import create_engine
from create_database import create_database

engine = create_engine('sqlite:///:memory:')
create_database(engine)

In [ ]:
%reload_ext sql
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = 0
%sql engine

## Simple Query

- The results of a query look like a table
- Query results also have columns and rows of data

Show all projects

In [ ]:
%%sql

SELECT *
FROM PRODUCTS

## Queries with Filters

- Use a `WHERE` clause to filter results
- Use `AND` and `OR` to combine filters

Show only gadgets

In [ ]:
%%sql

SELECT *
FROM Products
WHERE Category = 'Gadgets'

Show products with a price more than $100

In [ ]:
%%sql

SELECT Product, Price, Manufacturer
FROM Products
WHERE Price > 100

In [ ]:
%%sql

SELECT *
FROM Products
WHERE Category = 'Gadgets' AND Price > 20

# Eliminate Duplicates

- Use `DISTINCT` to remove duplicates

In [ ]:
%%sql

 SELECT DISTINCT Category
 FROM Products

Try the same query without `DISTINCT` to see the difference

## Order Results

- Ties are broken by the second attribute on the `ORDER BY` list
- Ordering is ascending, unless you specify the `DESC` keyword after a column name

In [ ]:
%%sql

SELECT Product, Price, Manufacturer
FROM Products
WHERE Category = 'Gadgets'
ORDER BY Price, Product