# 1. Queries

In this section, we will learn how to write SQL queries to retrieve data from a database. Please review the [slides for the **Introduction to SQL course**](https://docs.google.com/presentation/d/1-FhnRYrehe3VSlITi6geGqh-DrtSP6nPN4tiPgpbGqQ/present) first, and then use the examples here to experiment.

> The slides and course material are copyrighted, and licensed under the [GNU General Public License](LICENSE).

-----

In [ ]:
%pip install -qq jupysql sqlalchemy

In [ ]:
from sqlalchemy import create_engine
from create_database import create_database

engine = create_engine('sqlite:///:memory:')
create_database(engine)

In [ ]:
%reload_ext sql
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = 0
%sql engine

## Simple Query

- The results of a query look like a table
- Query results also have columns and rows of data

Show all projects

In [ ]:
%%sql

SELECT *
FROM PRODUCTS

## Query with Filters

- Use a `WHERE` clause to filter results
- Use `AND` and `OR` to combine filters

Show only gadgets

In [ ]:
%%sql

SELECT *
FROM Products
WHERE Category = 'Gadgets'

## Comparisons

Filters can use comparison operators

| Operator  | Description        |
| --- | ------------------------ |
| =   | equals                   |
| >   | greater than             |
| <   | less than                |
| >=  | greater than or equal to |
| <=  | less than or equal to    |
| <>  | not equal to             |

Show products with a price more than $100

In [ ]:
%%sql

SELECT Product, Price, Manufacturer
FROM Products
WHERE Price > 100

## Logical Operators

Logical operators are used to combine multiple conditions when filtering data in a query.

| Operator   | Description                                               | Example                            |
| ---------- | --------------------------------------------------------- | ---------------------------------- |
| `AND`      | Combines conditions where both must be true.              | `age > 30 AND city = 'Boston'`     |
| `OR`       | Combines conditions where at least one must be true.      | `age > 30 OR city = 'Boston'`      |
| `NOT`      | Negates a condition, selecting rows where it is not true. | `NOT (city = 'Boston')`            |
| `BETWEEN`  | Checks if a value falls within a range (inclusive).       | `age BETWEEN 25 AND 35`            |
| `IN`       | Checks if a value matches any value in a list.            | `city IN ('Boston', 'New York')`   |
| `LIKE`     | Performs pattern matching in strings.                     | `name LIKE 'A%' (starts with "A")` |
| `IS NULL`  | Checks if a value is NULL (missing).                      | `phone_number IS NULL`             |

In [ ]:
%%sql

SELECT Product, Price, Manufacturer
FROM Products
WHERE Price > 100 AND Category = 'Photography'

# Eliminate Duplicates

- Use `DISTINCT` to remove duplicates

In [ ]:
%%sql

SELECT DISTINCT Category
FROM Products

Try the same query without `DISTINCT` to see the difference

## Order Results

- Ties are broken by the second attribute on the `ORDER BY` list
- Ordering is ascending, unless you specify the `DESC` keyword after a column name

In [ ]:
%%sql

SELECT Product, Price, Manufacturer
FROM Products
WHERE Category = 'Gadgets'
ORDER BY Price, Product