> The slides and course material are copyrighted, and licensed under the [GNU General Public License](LICENSE).

-----

Run this section to set up your database. If you need to reset the database, you can click the Restart button.

In [ ]:
%pip install -qq jupysql sqlalchemy

In [ ]:
from sqlalchemy import create_engine
from create_database import create_database

engine = create_engine('sqlite:///:memory:')
create_database(engine)

In [ ]:
%reload_ext sql
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = 0
%sql engine

-----

# Exercise 1 - Queries

## 1.1

Run a `SELECT` statement to find all products that are in the household category.

In [ ]:
%%sql
-- Write your SQL query below the line
------------------------------------------

## 1.2

Run a `SELECT` statement to find all products that are cheaper than $200.

In [ ]:
%%sql
-- Write your SQL query below the line
------------------------------------------

## 1.3

Run a `SELECT` statement to get a list of all products sold by Fred, without any duplicates, and in alphabetical order.

In [ ]:
%%sql
-- Write your SQL query below the line
------------------------------------------