> The slides and course material are copyrighted, and licensed under the [GNU General Public License](LICENSE).

-----

Run this section to set up your database. If you need to reset the database, you can click the Restart button.

In [ ]:
%pip install -qq jupysql sqlalchemy

In [ ]:
from sqlalchemy import create_engine
from create_database import create_database

engine = create_engine('sqlite:///:memory:')
create_database(engine)

In [ ]:
%reload_ext sql
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = 0
%sql engine

-----

# 2. Modifications

In this section, we will learn how to modify data in a database.

## Insert Data

- `INSERT INTO` statement is used to insert new records in a table

Record that Fred sold a clock to Joe.

In [ ]:
%%sql

INSERT INTO Purchases
  (Buyer, Seller, Product)
 VALUES 
  ('Joe', 'Fred', 'Clock')

Check that the data got inserted.

In [ ]:
%%sql

SELECT * FROM Purchases

## Delete Data

- `DELETE` statement is used to delete data from a table

In [ ]:
%%sql

DELETE FROM Purchases
WHERE 
  Seller = 'Fred' 
  AND Product = 'Clock'

Check that the data got deleted.

In [ ]:
%%sql

SELECT * FROM Purchases

## Update Data

- `UPDATE` statement is used to update data in a table

In [ ]:
%%sql

UPDATE Products
SET 
  Price = Price/2
WHERE 
  Product  = 'Gizmo'

Check that the data got changed.

In [ ]:
%%sql

SELECT * FROM Products