# 3. Joins

In this section, we will learn how to join data from more than one table in a database. Please review the [slides for the **Introduction to SQL course**](https://docs.google.com/presentation/d/1-FhnRYrehe3VSlITi6geGqh-DrtSP6nPN4tiPgpbGqQ/present) first, and then use the examples here to experiment.

> The slides and course material are copyrighted, and licensed under the [GNU General Public License](LICENSE).

-----

In [ ]:
%pip install -qq jupysql sqlalchemy

In [ ]:
from sqlalchemy import create_engine
from create_database import create_database

engine = create_engine('sqlite:///:memory:')
create_database(engine)

In [ ]:
%reload_ext sql
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = 0
%sql engine

## Inner Join

- An inner join matches table rows based on some condition
- Specifies conditions which pairs of rows satisfy

Find students who scored more than 60 in tests.

In [ ]:
%%sql

SELECT 
  FirstName, 
  LastName, 
  Code AS Course,
  Grade
FROM 
  Students 
  INNER JOIN Grades 
    ON Students.SID = Grades.SID
WHERE
  Grade > 60

## Outer Join

- An outer join matches table rows based on some condition
- Some rows have no match, and are "lost", or "dangle"
- Outer joins include dangles in the results and use NULLs to fill in the blanks

List all students and their grades, but also include students who don't have any grades recorded yet.

In [ ]:
%%sql

SELECT 
  FirstName, 
  LastName, 
  Code AS Course,
  Grade
FROM 
  Students 
  LEFT OUTER JOIN Grades 
    ON Students.SID = Grades.SID