> The slides and course material are copyrighted, and licensed under the [GNU General Public License](LICENSE).

-----

Run this section to set up your database. If you need to reset the database, you can click the Restart button.

In [ ]:
%pip install -qq jupysql sqlalchemy

In [ ]:
from sqlalchemy import create_engine
from create_database import create_database

engine = create_engine('sqlite:///:memory:')
create_database(engine)

In [ ]:
%reload_ext sql
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = 0
%sql engine

-----

# 5. Unions

In this section, we will learn how to combine results.

A `UNION` combines two or more `SELECT` queries into a single result.

- All `SELECT` statements must have the same number of columns
- The columns must have compatible data types
- The column order should match in all `SELECT` statements

## Union

- Combines the results of two or more `SELECT` statements, removing duplicates

List all employees, including ones who have left.

In [ ]:
%%sql

SELECT 
  EmployeeId, 
  Job
FROM 
  Jobs
UNION
SELECT 
  EmployeeId, 
  Job
FROM 
  JobsHistory

## Union All

- Combines the results of two or more `SELECT` statements, keeing duplicates

List all employees, including ones who have left.

In [ ]:
%%sql

SELECT 
  EmployeeId, 
  Job
FROM 
  Jobs
UNION ALL
SELECT 
  EmployeeId, 
  Job
FROM 
  JobsHistory

**Note**: Notice that teacher is duplicated in the result.