> The slides and course material are copyrighted, and licensed under the [GNU General Public License](LICENSE).

-----

Run this section to set up your database. If you need to reset the database, you can click the Restart button.

In [ ]:
%pip install -qq jupysql sqlalchemy

In [ ]:
from sqlalchemy import create_engine
from create_database import create_database

engine = create_engine('sqlite:///:memory:')
create_database(engine)

In [ ]:
%reload_ext sql
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = 0
%sql engine

-----

# 6. Creating Tables

In this section, we will learn how to create (and drop) new tables.

Creating and dropping (or deleting) tables uses Data Definition Language (DDL). DDL commands include `CREATE`, `ALTER`, and `DROP`.

## Create a Table

Create a new table to store data about friends.

In [ ]:
%%sql

CREATE TABLE Friends
(
  FirstName VARCHAR(15),
  LastName VARCHAR(20), 
  Address VARCHAR(30)
)

Verify that the table got created.

In [ ]:
%%sql

SELECT
  name 
FROM 
  sqlite_master 
WHERE 
  type = 'table'
ORDER BY
  name

## Drop a Table

Drop (or delete) the "Friends" table.

In [ ]:
%%sql

DROP TABLE Friends

Verify that the table got created.

In [ ]:
%%sql

SELECT 
  name 
FROM 
  sqlite_master 
WHERE 
  type = 'table'
ORDER BY
  name